
* {
  font-family: 'Courier New', Courier, monospace;
}
h2 {
  margin-left: 40px;
  margin-top: 40px;
}
ul {
  margin: 50px;
  margin-top: 20px;
  list-style-type: disc;
}

li:first-child{
  margin-top: 10px;
}

li:last-child{
  margin-top: 10px;
}
.dlt{
  max-width: 168px;
}
th{
  bottom: auto;
}
.names{
  border: 3px solid black;
}
td {
  border: 3px solid black;
  text-align: right;
}




.indexbody{
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
}
.indexhead{

display: inline-block;
}
.salmonImg{
  float: left;
  margin-left: 1em;
  width: 30em;
  height: 10em;

}
.indexH1{
  text-align: center;
  font-size: 5em;
  float: left;
  /* margin-top: 1em; */
  margin-left: 9em;
  border-bottom: .05em solid black;
  }

.fishPic{
  float:right;
  margin-top: 1em;
  margin-right: 1em;
}

header li{
  display: inline-block;
  margin-left: 5em;
  border: .3em inset rgb(205, 127, 50);
  font-size: 2em;
}
header a {
  text-decoration: none;
  color: black;
}


.pHours {
  float: left;
  font-size: 2em;
  height: 30em;
  border-right: 10px inset rgb(205, 127, 50);
  border-bottom: 10px inset rgb(205, 127, 50);
  border-top: 10px inset rgb(205, 127, 50);
  width: 12em;
  overflow: scroll;
}

.famPic{
  float: left;
  margin-left: 1em;
  margin-right: 1em;
  width: 50em;
  height: 40em;
  

}

.h2Story{
  margin-left: 12em;
  font-size: 3em;
  margin-top: 1em;
  font-weight: bold;
}

.ourStory{
  /* width: 24em; */
  float: none;
  margin-right: 1em;
  margin-top: 1em;
  font-size: 2em;
  /* text-align: left; */
  
}
hr{
  width: 80%;
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  

}
section h3{
  font-size: 5em;
  text-align: left;
  margin-top: 1em;
  margin-left: 10em;
  border-bottom: .1em solid black;
}

.art2 {
  height: 30em;
  width: 20em;
  float: left;
  margin: 3em 10em;
  border: .2em solid black;
  text-align: center;
}
.imgShirt{
  margin-bottom: 1em;
  margin-top: 1em;
  border: .5em solid black;
}
.art2 p {
  text-align: left;
  overflow: scroll;
  height: 10.5em;
  margin-left: 2em;
  margin-right: 2em;
}
.art3{
  height: 30em;
  width: 20em;
  float: left;
  margin: 3em 10em;
  border: .2em solid black;
  text-align: center;
}
.imgCutter{
  margin-bottom: 1em;
  margin-top: 1em;
  border: .5em solid black;
}
.art3 p {
  text-align: left;
  overflow: scroll;
  height: 10.5em;
  margin-left: 2em;
  margin-right: 2em;
}
.art4{
  height: 30em;
  width: 20em;
  float: left;
  margin: 3em 10em;
  border: .2em solid black;
  text-align: center;
}

.imgFrosted{
  margin-bottom: 1em;
  margin-top: 1em;
  border: .5em solid black;
  height: 15em;
  width: 16em;
}

.art4 p {
  text-align: left;
  overflow: scroll;
  height: 10.5em;
  margin-left: 2em;
  margin-right: 2em;
}

.art5 {
  text-align: center;

}
.art5 h4{
  font-size: 5em;
}

