
* {
  font-family: 'Courier New', Courier, monospace;
}
h2 {
  margin-left: 40px;
  margin-top: 40px;
}
ul {
  margin: 50px;
  margin-top: 20px;
  list-style-type: disc;
}

li:first-child{
  margin-top: 10px;
}

li:last-child{
  margin-top: 10px;
}
